body {
    font-family: "Big Shoulders Display", sans-serif;
    padding: 0;
    margin: 0;
    
}

.container {
    max-width: 720px;
    margin: auto;
}

.main-banner {
    position: relative;
    top: 0;
    left: 0;
}

.worldmap {
    position: relative;
    top: 0;
    left: 0;
}

.parrot {
    position: absolute;
    width: 100px;
    height: 80px;
    top: 65px;
    left: 40px;
}

.main-text {
    position: absolute;
    top: 50px;
    left: 150px;
}

.heading {
    font-family: Big Shoulders Display;
    font-size: 45px;
    font-weight: 800;
    color: #32CD32;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.subtext {
    font-family: Poppins;
    font-size: 12.21px;
    font-weight: 600;
    color: white;
    margin-top: 0px;

}

.input-section {
    margin: 20px;
    padding: 10px 20px;
    border: 4px solid #252F42;
    border-radius: 15px;
    max-width: 100%;
}

.input-heading {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #035A9D;
}

.language-option {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 10px 25px;
    text-align: left;
}

textarea, .output-box {
    font-family: Poppins;
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #EFF0F4;
    border-radius: 8px;
    background-color: #EFF0F4;
    resize: none;
    text-align: left;
    text-indent: 0;
    margin: 0;
}

button {
    width: 90%;
    padding: 12px;
    border-radius: 6px;
    border: 0px solid #035A9D;
    color: white;
    background-color: #035A9D;
    margin: 20px;
}